{{#each this}}
  <li class="gallery__item">
    <a href="" class='gallery__link gallery-list__card-thumb img-wrapper'>
      <img class="gallery__image" loading='lazy' src='{{webformatURL}}' data-src='{{largeImageURL}}' alt={{id}}/>
    </a>
    <div class="statistick-wrapper">
      <ul class="statistick-list">
        <li class="statistick-list__item">
          <p class='statistick-name'>
            <i class='material-icons'>thumb_up</i>
            &nbsp;{{likes}}&nbsp;&nbsp;
          </p>
        </li>
        <li class="statistick-list__item">
          <p class='statistick-name'>
            <i class='material-icons'>visibility</i>
            &nbsp;{{views}}&nbsp;&nbsp;
          </p>
        </li>
        <li class="statistick-list__item">
          <p class='statistick-name'>
            <i class='material-icons'>comment</i>
            &nbsp;{{comments}}&nbsp;&nbsp;
          </p>
        </li>
        <li class="statistick-list__item">
          <p class='statistick-name'>
            <i class='material-icons'>cloud_download</i>
            &nbsp;{{downloads}}
          </p>
        </li>
      </ul>
    </div>
    </li>
  {{/each}}